nuxeo-rest-import-sample-core/src/test/resources/schemas/custom.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/custom/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/custom/">

  <xs:include schemaLocation="core-types.xsd" />

  <xs:element name="strField1" type="xs:string" />
  <xs:element name="strField2" type="xs:string" />
  <xs:element name="dob" type="xs:date" />
  <xs:element name="customBlob" type="nxs:content" />

</xs:schema>
